html, body {
    width: 100%;
    height: 100%;
}

.container-graph {
    position: relative;
    height: 90%;
    display: block;
}

.container-graph > div {
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.container-graph .container-graph--visible {
    /* display: block; */
}
