html, body {
    width: 100%;
    height: 100%;
}

.container-graph {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
}

.container-graph > div {
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.already-transitive, .found-transitive, .transitive {
    border-top: 4px solid;
    padding: 10px;
    margin: 0 20px;
}

.caption {
    margin-top: 50px;
}

.already-transitive {
    border-color: #61fcbf;
}

.found-transitive {
    border-color: #61bffc;
}

.transitive {
    border-color: #fc61bf;
}