<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="graph.css">
    <title>Document</title>
</head>
<body>
    <div id="pagination"></div>
    <div id="container-graph"></div>
    <div id="cy">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script>
    <script>
        window.graph = <%- graph %>
        console.log({graph})
    </script>
    <script src="./graph.js"></script>
    <script src="./graph-manager.js"></script>
</body>
</html>