.button {
    border: none;
    color:
    #fff;
    background-color:
    #59ABE3;
    width: 150px;
    height: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .button.animated {
    display: inline-block;
    width: 150px;
    height: 50px;
    position: relative;
    z-index: 1;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .button.animated::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #37474f;
      z-index: -1;
      /* pour mettre ça derrière le texte */
      opacity: 0;
      transform: scaleX(0.5);
      transition: transform 0.4s, opacity 0.4s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
    .button.animated:hover::before {
      opacity: 1;
      transform: scaleX(1); }